In [1]:
print("hello world")

hello world

In [5]:
## for loop 
## while loop 
lst = [10,20,30,40,50,60,70,80,90]
for i in range(10): 
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
lst = [10,20,30,40,50,60,70,80,90]
len(lst)

for i in range(9):
    print(lst[i])

10
20
30
40
50
60
70
80
90

In [13]:
lst[1]
lst[2]

30

In [18]:
lst = [10,20,30,40,50,60,70,80,90]

for i in lst: 
    print(i,end=" ")

10 20 30 40 50 60 70 80 90

In [20]:
company = "UPFLAIRS" 
for char in company:
    if char == "A": 
        print("present")

present

In [ ]:
lst = [12,13,14,18,21,22,24]

In [23]:
for i in range(10):   # 0---> 9
    # break , continue
    break 
    print(i) 
    # if i == 5: 
    #     break

In [29]:
count = 0
for i in range(10):
    count+=1
    break 
    if i == 5:
        continue 
    print(i) 

print(count)

1

In [35]:
d = {'A':0,'B':1,'C':2,'D':3,'E':4}
# by default iterating key of dictionary 
for i in d.values():
    print(i)

0
1
2
3
4

In [40]:
d = {'A':0,'B':1,'C':2,'D':3,'E':4}
# by default iterating key of dictionary 
for key, value in d.items():
    print(key   , "------>" , value)

A ------> 0
B ------> 1
C ------> 2
D ------> 3
E ------> 4

In [50]:
tpl = ('mohit kumar','cse',101)
name , branch , roll_no = tpl

In [43]:
tpl

('mohit kumar', 'cse', 101)

In [46]:
roll_no

101