In [1]:
print('hello world')

hello world

In [8]:
var = 'hello'
print(var)

hello

In [9]:
print(type(var))

<class 'str'>

In [10]:
ls = [25,41,100.25,'upflairs',True]
print(type(ls))

<class 'list'>

In [11]:
ls = (25,41,100.25,'upflairs',True)
print(type(ls))

<class 'tuple'>

In [13]:
tpl = (25,) 
print(type(tpl))

<class 'tuple'>

In [17]:
tpl = 25,
print(type(tpl))

<class 'tuple'>

In [15]:
tpl = (25,14,6,96,85,7,5) 
print(type(tpl))

<class 'tuple'>

In [18]:
st = {25,63,85,85,49} 
print(type(st))

<class 'set'>

In [19]:
print(st)

{25, 63, 85, 49}

In [ ]:
# list and dictionary

In [20]:
ls = ['rahul','mohit','suresh','dharm'] 
print(ls)

['rahul', 'mohit', 'suresh', 'dharm']

In [32]:
ls[-2:]

['suresh', 'dharm']

In [30]:
# starting , ending  
ls[2:0]

['suresh', 'dharm']

In [34]:
st = "upflairs"

In [35]:
print(st[2:7])  # [start:stop:jump]

flair

In [36]:
print(st[2:7:1])

flair

In [40]:
print(st[2:])

flairs

In [47]:
print(st[::-1])

srialfpu

In [49]:
dt = {'A':10,'B':20,'C':30,'D':40}
print(dt) 
print(type(dt))

{'A': 10, 'B': 20, 'C': 30, 'D': 40}
<class 'dict'>

In [50]:
print(len(dt))

4

In [52]:
print(dt.keys())

dict_keys(['A', 'B', 'C', 'D'])

In [53]:
print(dt.values())

dict_values([10, 20, 30, 40])

In [54]:
print(dt)

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [56]:
print(dt['D'])

40

In [58]:
dt['B'] = 50

In [59]:
print(dt)

{'A': 10, 'B': 50, 'C': 30, 'D': 40}

In [60]:
student_marks = {'bharat':35,'harsh sharma':36,'trishika':85,'jyoti':41} 
print(st)

upflairs

In [ ]:
1. print all the student name 
2. print all the student marks 
3. print marks of  harsh sharma 
4. update the marks of jyoti by 41 to  11 
5. add marks of another student , ashish 40 marks

In [75]:
student_marks['Jyoti'] = 11

In [73]:
student_marks['ashish3'] = 40

In [76]:
print(student_marks)

{'bharat': 35, 'harsh sharma': 36, 'trishika': 85, 'jyoti': 11, 'ashish': 40, 'ashish3': 40, 'Jyoti': 11}

In [78]:
student_marks.pop('ashish3') 
student_marks.pop('Jyoti') 
print(student_marks)

{'bharat': 35, 'harsh sharma': 36, 'trishika': 85, 'jyoti': 11, 'ashish': 40}

In [ ]:
print()

In [80]:
student_marks = {'bharat':35,'harsh sharma':36,'trishika':85,'jyoti':41} 
print(student_marks) 

student_marks.popitem() 
print(student_marks)

{'bharat': 35, 'harsh sharma': 36, 'trishika': 85, 'jyoti': 41}
{'bharat': 35, 'harsh sharma': 36, 'trishika': 85}

In [90]:
#loops 
# while 
# for 
# do while 
# ls = [10,20,30,40,50,60]  


# for var in range(101):
#     print(var)


ls = [10,20,30,40,50,60]   
for i in range(len(ls)):
    print(ls[i])

10
20
30
40
50
60

In [91]:
for item in ls: 
    print(item)

10
20
30
40
50
60

In [92]:
for char in 'upflairs': 
    print(char)

u
p
f
l
a
i
r
s

In [94]:
st = "upflairs" 
i = 0 
for char in st: 
    print(char ,"===>  ",i) 
    i = i + 1

u ===>   0
p ===>   1
f ===>   2
l ===>   3
a ===>   4
i ===>   5
r ===>   6
s ===>   7

In [96]:
st = "upflairs" 
print(list(enumerate(st)))

[(0, 'u'), (1, 'p'), (2, 'f'), (3, 'l'), (4, 'a'), (5, 'i'), (6, 'r'), (7, 's')]

In [98]:
st = "upflairs" 

for i, char in enumerate(st): 
    if char == "a":
        print(char ,"===>  ",i)

a ===>   4

In [ ]:
# while loop 
# functions 
# indexing 
# file handling , module,exception handling

In [ ]:
# function : spe cific block of code   
# def code(): 
    # pass d

In [ ]:
# list 
# append() 
# pop() 
# insert() 
# remove()

In [1]:
def funct(): 
    print('hello world') 


funct()

hello world