In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
print("libraries imported!")

libraries imported!

In [3]:
df = pd.read_csv('Used_Bikes.csv') 
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [5]:
df.duplicated().sum()  #  to checkout the duplicate records

25324

In [6]:
df.drop_duplicates(inplace=True)  # to remove the duplicate record

In [7]:
df.duplicated().sum()  #

0

In [8]:
df.shape

(7324, 8)

In [10]:
df.dtypes

bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

In [12]:
# split data into two parts based on the datatype  
cat_coldf = df.select_dtypes(include='O')  # O ==> object 
cat_coldf.head()

                              bike_name       city        owner          brand
0    TVS Star City Plus Dual Tone 110cc  Ahmedabad  First Owner            TVS
1           Royal Enfield Classic 350cc      Delhi  First Owner  Royal Enfield
2                  Triumph Daytona 675R      Delhi  First Owner        Triumph
3                  TVS Apache RTR 180cc  Bangalore  First Owner            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore  First Owner         Yamaha

In [13]:
num_coldf = df.select_dtypes(exclude='O')  # O ==> object 
num_coldf.head()

      price  kms_driven  age  power
0   35000.0     17654.0  3.0  110.0
1  119900.0     11000.0  4.0  350.0
2  600000.0       110.0  8.0  675.0
3   65000.0     16329.0  4.0  180.0
4   80000.0     10000.0  3.0  150.0

In [16]:
## feature selection  
cat_coldf.drop(['bike_name','city'],axis='columns',inplace=True)  
# axis = rows, columns 
# columns ===> 1  
# rows    ===> 0

In [22]:
ownership = list(cat_coldf['owner'].value_counts().keys())
ownership

['First Owner', 'Second Owner', 'Third Owner', 'Fourth Owner Or More']

In [30]:
dt = {}
i = 1 
for key in ownership:
    # print(key, "  >>>>>>>  ",i) 
    dt[key]  = i  
    i += 1 
print(dt )

{'First Owner': 1, 'Second Owner': 2, 'Third Owner': 3, 'Fourth Owner Or More': 4}

In [34]:
owner_dictionary = {key:i for i , key in enumerate(ownership,start=1)}  # dictionary comprehension 
owner_dictionary

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [37]:
for i, item in enumerate(ownership,start=1): 
    print(item  , " .....   ",i)

First Owner  .....    1
Second Owner  .....    2
Third Owner  .....    3
Fourth Owner Or More  .....    4

In [48]:
cat_coldf['owner'] = cat_coldf['owner'].map(owner_dictionary)   # single tim3

In [52]:
brands_name  = list(cat_coldf['brand'].value_counts().keys())
# brands_name

In [54]:
brand_dictionary = {key:i for i , key in enumerate(brands_name,start=1)}  # dictionary comprehension 
# brand_dictionary

In [57]:
cat_coldf['brand'] = cat_coldf['brand'].map(brand_dictionary)

In [62]:
df2 = pd.concat([cat_coldf,num_coldf],axis='columns')

In [64]:
df2.isnull().sum()

owner         0
brand         0
price         0
kms_driven    0
age           0
power         0
dtype: int64

## missing value handling

In [67]:
df.loc[1:6,['age']] = np.nan

In [68]:
df.loc[1:6,['age']]

   age
1  NaN
2  NaN
3  NaN
4  NaN
5  NaN
6  NaN

In [69]:
df.head(10)

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,NaN,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,NaN,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,NaN,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,NaN,150.0,Yamaha
5,Yamaha FZs 150cc,53499.0,Delhi,25000.0,1,NaN,150.0,Yamaha
6,Honda CB Hornet 160R ABS DLX,85000.0,Delhi,8200.0,1,NaN,160.0,Honda
7,Hero Splendor Plus Self Alloy 100cc,45000.0,Delhi,12645.0,1,3.0,100.0,Hero
8,Royal Enfield Thunderbird X 350cc,145000.0,Bangalore,9190.0,1,3.0,350.0,Royal Enfield
9,Royal Enfield Classic Desert Storm 500cc,88000.0,Delhi,19000.0,2,7.0,500.0,Royal Enfield

In [70]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           6
power         0
brand         0
dtype: int64

In [71]:
df.shape

(7324, 8)

In [77]:
df.dropna(axis='rows',inplace=True)  # remove all those rows that containing missing value

In [75]:
df.dropna(axis='columns')  # remove all those column that containing missing value

,bike_name,price,city,kms_driven,owner,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,1,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,1,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,1,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,1,150.0,Yamaha
...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,220.0,Bajaj

In [78]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,1,3.0,110.0,TVS
7,Hero Splendor Plus Self Alloy 100cc,45000.0,Delhi,12645.0,1,3.0,100.0,Hero
8,Royal Enfield Thunderbird X 350cc,145000.0,Bangalore,9190.0,1,3.0,350.0,Royal Enfield
9,Royal Enfield Classic Desert Storm 500cc,88000.0,Delhi,19000.0,2,7.0,500.0,Royal Enfield
10,Yamaha YZF-R15 2.0 150cc,72000.0,Bangalore,20000.0,1,7.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,1,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,1,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,1,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,1,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,1,5.0,220.0,Bajaj