In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
print("libraries imported!")

libraries imported!

In [2]:
df = pd.read_csv('Used_Bikes.csv') 
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [4]:
df.duplicated().sum()  #  to checkout the duplicate records

25324

In [5]:
df.drop_duplicates(inplace=True)  # to remove the duplicate record

In [6]:
df.duplicated().sum()  #

0

In [7]:
df.shape

(7324, 8)

In [8]:
df.dtypes

bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

In [9]:
# split data into two parts based on the datatype  
cat_coldf = df.select_dtypes(include='O')  # O ==> object 
cat_coldf.head()

                              bike_name       city        owner          brand
0    TVS Star City Plus Dual Tone 110cc  Ahmedabad  First Owner            TVS
1           Royal Enfield Classic 350cc      Delhi  First Owner  Royal Enfield
2                  Triumph Daytona 675R      Delhi  First Owner        Triumph
3                  TVS Apache RTR 180cc  Bangalore  First Owner            TVS
4  Yamaha FZ S V 2.0 150cc-Ltd. Edition  Bangalore  First Owner         Yamaha

In [10]:
num_coldf = df.select_dtypes(exclude='O')  # O ==> object 
num_coldf.head()

      price  kms_driven  age  power
0   35000.0     17654.0  3.0  110.0
1  119900.0     11000.0  4.0  350.0
2  600000.0       110.0  8.0  675.0
3   65000.0     16329.0  4.0  180.0
4   80000.0     10000.0  3.0  150.0

In [11]:
## feature selection  
cat_coldf.drop(['bike_name','city'],axis='columns',inplace=True)  
# axis = rows, columns 
# columns ===> 1  
# rows    ===> 0

In [12]:
ownership = list(cat_coldf['owner'].value_counts().keys())
ownership

['First Owner', 'Second Owner', 'Third Owner', 'Fourth Owner Or More']

In [13]:
dt = {}
i = 1 
for key in ownership:
    # print(key, "  >>>>>>>  ",i) 
    dt[key]  = i  
    i += 1 
print(dt )

{'First Owner': 1, 'Second Owner': 2, 'Third Owner': 3, 'Fourth Owner Or More': 4}

In [14]:
owner_dictionary = {key:i for i , key in enumerate(ownership,start=1)}  # dictionary comprehension 
owner_dictionary

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner Or More': 4}

In [15]:
for i, item in enumerate(ownership,start=1): 
    print(item  , " .....   ",i)

First Owner  .....    1
Second Owner  .....    2
Third Owner  .....    3
Fourth Owner Or More  .....    4

In [16]:
cat_coldf['owner'] = cat_coldf['owner'].map(owner_dictionary)   # single tim3

In [17]:
brands_name  = list(cat_coldf['brand'].value_counts().keys())
# brands_name

In [18]:
brand_dictionary = {key:i for i , key in enumerate(brands_name,start=1)}  # dictionary comprehension 
# brand_dictionary

In [19]:
cat_coldf['brand'] = cat_coldf['brand'].map(brand_dictionary)

In [20]:
df2 = pd.concat([cat_coldf,num_coldf],axis='columns')

In [21]:
df2.isnull().sum()

owner         0
brand         0
price         0
kms_driven    0
age           0
power         0
dtype: int64

## missing value handling

In [22]:
df.loc[1:6,['age']] = np.nan

In [23]:
df.loc[1:6,['age']]

   age
1  NaN
2  NaN
3  NaN
4  NaN
5  NaN
6  NaN

In [24]:
df.head(10)

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,NaN,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,NaN,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,NaN,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,NaN,150.0,Yamaha
5,Yamaha FZs 150cc,53499.0,Delhi,25000.0,First Owner,NaN,150.0,Yamaha
6,Honda CB Hornet 160R ABS DLX,85000.0,Delhi,8200.0,First Owner,NaN,160.0,Honda
7,Hero Splendor Plus Self Alloy 100cc,45000.0,Delhi,12645.0,First Owner,3.0,100.0,Hero
8,Royal Enfield Thunderbird X 350cc,145000.0,Bangalore,9190.0,First Owner,3.0,350.0,Royal Enfield
9,Royal Enfield Classic Desert Storm 500cc,88000.0,Delhi,19000.0,Second Owner,7.0,500.0,Royal Enfield

In [25]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           6
power         0
brand         0
dtype: int64

In [26]:
df.shape

(7324, 8)

In [27]:
df.dropna(axis='rows',inplace=True)  # remove all those rows that containing missing value

In [28]:
df.dropna(axis='columns')  # remove all those column that containing missing value

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
7,Hero Splendor Plus Self Alloy 100cc,45000.0,Delhi,12645.0,First Owner,3.0,100.0,Hero
8,Royal Enfield Thunderbird X 350cc,145000.0,Bangalore,9190.0,First Owner,3.0,350.0,Royal Enfield
9,Royal Enfield Classic Desert Storm 500cc,88000.0,Delhi,19000.0,Second Owner,7.0,500.0,Royal Enfield
10,Yamaha YZF-R15 2.0 150cc,72000.0,Bangalore,20000.0,First Owner,7.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,First Owner,5.0,220.0,Bajaj

In [30]:
df2.head()

   owner  brand     price  kms_driven  age  power
0      1      6   35000.0     17654.0  3.0  110.0
1      1      2  119900.0     11000.0  4.0  350.0
2      1     14  600000.0       110.0  8.0  675.0
3      1      6   65000.0     16329.0  4.0  180.0
4      1      5   80000.0     10000.0  3.0  150.0

In [33]:
## x and y  
x = df2.drop('price',axis='columns') 
y = df2[['price']]

In [34]:
from sklearn.model_selection import train_test_split

In [37]:
## train and testing split data   4 
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,)

In [42]:
x_train.head()

      owner  brand  kms_driven  age  power
5469      1      2     24000.0  7.0  350.0
5981      1      8     31000.0  4.0  150.0
7589      2      2     21000.0  6.0  535.0
138       1      1     32734.0  6.0  220.0
4096      1      4      4500.0  4.0  150.0

In [43]:
y_train

         price
5469   75000.0
5981   56900.0
7589  125000.0
138    55000.0
4096   65000.0
...        ...
6235   25000.0
1872   30000.0
4665   90000.0
8188   70000.0
4705  200000.0

[5859 rows x 1 columns]

In [44]:
from sklearn.linear_model import LinearRegression  # class

In [45]:
lnr = LinearRegression()  # instance create

In [59]:
x_train.head()

      owner  brand  kms_driven  age  power
5469      1      2     24000.0  7.0  350.0
5981      1      8     31000.0  4.0  150.0
7589      2      2     21000.0  6.0  535.0
138       1      1     32734.0  6.0  220.0
4096      1      4      4500.0  4.0  150.0

In [54]:
lnr.fit(x_train,y_train)  # to train the model

LinearRegression()

In [55]:
x_train.shape

(5859, 5)

In [58]:
## model evaluation  phase start  
print("training score : ",lnr.score(x_train,y_train)* 100  )
print("testing score : ",lnr.score(x_test,y_test)* 100  )

training score :  74.06788644874862
testing score :  73.84435674485053

In [61]:
prediction =  lnr.predict(x_test)

In [62]:
x_test.shape

(1465, 5)

In [63]:
prediction.shape   ## according to the algorithm  or predicted price

(1465, 1)

In [65]:
y_test.shape   # actual price of the bike

(1465, 1)

In [67]:
y_test['prediction'] = prediction

In [68]:
y_test.head(40)

         price     prediction
362    35000.0   16245.628762
3135   30000.0   18661.387147
6805   25000.0   29009.997202
2771   67000.0   36979.500025
2836  125000.0  216870.382794
7341  175000.0  218271.832454
8013   65000.0   53227.079146
4356   39000.0   32807.642905
7942  100000.0  132033.519360
9070  140000.0  115864.745665
8354   50000.0   16551.679293
5047  143000.0  124644.357072
2324   47500.0   90279.552231
4084  152500.0  220470.159661
5140   43000.0   58943.383334
5339   31500.0    9825.423646
5271  106000.0  218813.388898
5531   56000.0   63928.360375
2233   81100.0  131184.721758
6498   62000.0   19238.900511
5335   90500.0   66715.866520
8151  110000.0  127844.718630
7660   12200.0   35789.558656
1502   18000.0   -5224.278950
1045   35273.0   59396.975184
1365  172000.0  226141.187147
879    63647.0   19849.096571
7019  135000.0  146461.893538
2022  100000.0  137885.641130
6285   68000.0  113396.974072
374     9350.0   47883.165358
8448   75500.0   66780.007106
4501   78000.0  114085.711610
4136   79000.0   45683.987875
8085  122500.0  215248.795043
7499   13000.0   -6460.007970
5899   15000.0  -12775.342445
8299   25000.0   20077.354314
1690   48000.0   88435.889859
682    70000.0   99647.278550

In [69]:
lnr

LinearRegression()

In [70]:
import joblib

In [71]:
student_name = ['rahul','mohit','suneel','rocky'] 
student_name

['rahul', 'mohit', 'suneel', 'rocky']

In [72]:
joblib.dump(student_name,'student_list.lb')   # to write the var

['student_list.lb']

In [73]:
loaded_var = joblib.load('student_list.lb')  # to load the variable 
loaded_var

['rahul', 'mohit', 'suneel', 'rocky']

In [ ]:
lnr ## model or algorithm