In [1]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns  
print("librairies are imported!")

librairies are imported!

In [2]:
file_path = "https://raw.githubusercontent.com/upflairs-pvt-ltd/JECRC-20april2024/main/loan%20aproaval%20DL/loan_approval_dataset.csv"
df = pd.read_csv(file_path)
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [3]:
df.columns

Index(['loan_id', ' no_of_dependents', ' education', ' self_employed',
       ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
       ' residential_assets_value', ' commercial_assets_value',
       ' luxury_assets_value', ' bank_asset_value', ' loan_status'],
      dtype='object')

In [4]:
df[' education'].value_counts().keys()

Index([' Graduate', ' Not Graduate'], dtype='object', name=' education')

In [5]:
# df.columns = ['loan_id', 'no_of_dependents', 'education', 'self_employed',
#        ' income_annum', ' loan_amount', ' loan_term', ' cibil_score',
#        ' residential_assets_value', ' commercial_assets_value',
#        ' luxury_assets_value', ' bank_asset_value', ' loan_status']

In [6]:
file_path = "https://raw.githubusercontent.com/upflairs-pvt-ltd/JECRC-20april2024/main/loan%20aproaval%20DL/loan_approval_dataset.csv"
df = pd.read_csv(file_path,skipinitialspace=True)
df.head()

,loan_id,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,1,2,Graduate,No,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved
1,2,0,Not Graduate,Yes,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected
2,3,3,Graduate,No,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected
3,4,3,Graduate,No,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected
4,5,5,Not Graduate,Yes,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4269 entries, 0 to 4268
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   loan_id                   4269 non-null   int64
 1   no_of_dependents          4269 non-null   int64
 2   education                 4269 non-null   object
 3   self_employed             4269 non-null   object
 4   income_annum              4269 non-null   int64
 5   loan_amount               4269 non-null   int64
 6   loan_term                 4269 non-null   int64
 7   cibil_score               4269 non-null   int64
 8   residential_assets_value  4269 non-null   int64
 9   commercial_assets_value   4269 non-null   int64
 10  luxury_assets_value       4269 non-null   int64
 11  bank_asset_value          4269 non-null   int64
 12  loan_status               4269 non-null   object
dtypes: int64(10), object(3)
memory usage: 433.7+ KB

In [8]:
df.isnull().sum()

loan_id                     0
no_of_dependents            0
education                   0
self_employed               0
income_annum                0
loan_amount                 0
loan_term                   0
cibil_score                 0
residential_assets_value    0
commercial_assets_value     0
luxury_assets_value         0
bank_asset_value            0
loan_status                 0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
salaried_person = df[df['self_employed'] == "No"]
bussinessman = df[df['self_employed'] == "Yes"]

In [11]:
salaried_person['loan_status'].value_counts()

loan_status
Approved    1318
Rejected     801
Name: count, dtype: int64

In [12]:
bussinessman['loan_status'].value_counts()

loan_status
Approved    1338
Rejected     812
Name: count, dtype: int64

In [13]:
df['cibil_score'].max()

900

In [14]:
df['cibil_score'].min()

300

In [15]:
df['loan_term'].value_counts()

loan_term
6     490
12    456
4     447
10    436
18    422
16    412
20    411
14    405
2     404
8     386
Name: count, dtype: int64

In [16]:
df2 = pd.get_dummies(df,drop_first=True).astype(int)

In [17]:
df2.head()

,loan_id,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,education_Not Graduate,self_employed_Yes,loan_status_Rejected
0,1,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,0,0,0
1,2,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,1,1,1
2,3,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0,0,1
3,4,3,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0,0,1
4,5,5,9800000,24200000,20,382,12400000,8200000,29400000,5000000,1,1,1

In [19]:
## x and y 
x = df2.drop(['loan_id','loan_status_Rejected'],axis='columns') 
y = df2[['loan_status_Rejected']]

In [20]:
from sklearn.preprocessing import StandardScaler

In [21]:
## scale downing the data before passing to ann model 
std_scaler = StandardScaler()
x_transformed = std_scaler.fit_transform(x)

In [29]:
# training and testing split
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test = train_test_split(x_transformed,y,test_size=0.2,random_state=42)

In [26]:
# !pip install tensorflow
from tensorflow.keras.models import Sequential 
from tensorflow.keras.layers import Dense

In [32]:
x_train.shape[1]

11

In [35]:
ann_model = Sequential()
ann_model.add(Dense(units=68,activation='relu',input_shape=(x_train.shape[1],) ))
ann_model.add(Dense(units=32,activation='relu' ))
ann_model.add(Dense(units=24,activation='relu' ))

ann_model.add(Dense(units=1,activation='sigmoid'))

ann_model.compile(loss="binary_crossentropy",optimizer='adam',metrics=['accuracy'])
ann_model.summary()

C:\Users\Ranjit\AppData\Local\Programs\Python\Python312\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense_5 (Dense)                      │ (None, 68)                  │             816 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_6 (Dense)                      │ (None, 32)                  │           2,208 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_7 (Dense)                      │ (None, 24)                  │             792 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_8 (Dense)                      │ (None, 1)                   │              25 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 3,841 (15.00 KB)

 Trainable params: 3,841 (15.00 KB)

 Non-trainable params: 0 (0.00 B)

In [37]:
history = ann_model.fit(x_train,y_train,epochs=20,validation_data=(x_test,y_test))

Epoch 1/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.9636 - loss: 0.0918 - val_accuracy: 0.9532 - val_loss: 0.1174
Epoch 2/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9759 - loss: 0.0805 - val_accuracy: 0.9543 - val_loss: 0.1117
Epoch 3/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9715 - loss: 0.0855 - val_accuracy: 0.9508 - val_loss: 0.1087
Epoch 4/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9724 - loss: 0.0815 - val_accuracy: 0.9567 - val_loss: 0.1062
Epoch 5/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.9767 - loss: 0.0682 - val_accuracy: 0.9660 - val_loss: 0.0987
Epoch 6/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9769 - loss: 0.0689 - val_accuracy: 0.9543 - val_loss: 0.1060
Epoch 7/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.9813 - loss: 0.0595 - val_accuracy: 0.9590 - val_loss: 0.0911
Epoch 8/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.9781 - loss: 0.0588 - val_accuracy: 0.9637 - val_loss: 0.0904
Epoch 9/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9766 - loss: 0.0611 - val_accuracy: 0.9590 - val_loss: 0.0875
Epoch 10/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9795 - loss: 0.0515 - val_accuracy: 0.9578 - val_loss: 0.0989
Epoch 11/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9782 - loss: 0.0547 - val_accuracy: 0.9672 - val_loss: 0.0842
Epoch 12/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9849 - loss: 0.0464 - val_accuracy: 0.9555 - val_loss: 0.1059
Epoch 13/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9782 - loss: 0.0548 - val_accuracy: 0.9684 - val_loss: 0.0769
Epoch 14/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9780 - loss: 0.0529 - val_accuracy: 0.9590 - val_loss: 0.0877
Epoch 15/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9870 - loss: 0.0388 - val_accuracy: 0.9602 - val_loss: 0.0878
Epoch 16/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.9834 - loss: 0.0402 - val_accuracy: 0.9672 - val_loss: 0.0801
Epoch 17/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9866 - loss: 0.0374 - val_accuracy: 0.9602 - val_loss: 0.0881
Epoch 18/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.9831 - loss: 0.0441 - val_accuracy: 0.9696 - val_loss: 0.0856
Epoch 19/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.9851 - loss: 0.0410 - val_accuracy: 0.9660 - val_loss: 0.0931
Epoch 20/20
107/107 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - accuracy: 0.9850 - loss: 0.0398 - val_accuracy: 0.9707 - val_loss: 0.0848

In [38]:
import pandas as pd 
pd.DataFrame(history.history)

    accuracy      loss  val_accuracy  val_loss
0   0.963690  0.099524      0.953162  0.117430
1   0.970425  0.092272      0.954333  0.111742
2   0.971889  0.083106      0.950820  0.108715
3   0.971010  0.078194      0.956674  0.106234
4   0.971010  0.078816      0.966042  0.098705
5   0.975403  0.069060      0.954333  0.105951
6   0.975988  0.066163      0.959016  0.091114
7   0.976867  0.059432      0.963700  0.090425
8   0.978624  0.058327      0.959016  0.087456
9   0.977745  0.057188      0.957845  0.098887
10  0.977160  0.055534      0.967213  0.084220
11  0.980673  0.050475      0.955504  0.105896
12  0.978038  0.052615      0.968384  0.076873
13  0.980673  0.050655      0.959016  0.087678
14  0.983309  0.043978      0.960187  0.087799
15  0.983309  0.041987      0.967213  0.080091
16  0.983895  0.042211      0.960187  0.088054
17  0.983602  0.042449      0.969555  0.085596
18  0.985066  0.040934      0.966042  0.093059
19  0.984773  0.040606      0.970726  0.084807

In [39]:
## prediction 
prediction = ann_model.predict(x_test)

27/27 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step

In [40]:
x_test.shape

(854, 11)

In [41]:
prediction.shape

(854, 1)

In [49]:
pred = (prediction>0.5).astype(int).ravel()

In [51]:
y_test['predicted'] = pred

In [52]:
y_test.head(40)

      loan_status_Rejected  predicted
1703                     1          1
1173                     0          0
308                      1          1
1322                     0          0
3271                     0          0
3539                     0          0
1522                     0          0
3399                     1          1
1402                     0          0
1829                     1          1
296                      1          1
2700                     0          0
471                      0          0
3055                     1          1
1123                     1          1
2357                     0          0
4242                     0          0
3839                     0          0
1130                     0          1
3642                     1          1
862                      0          0
1338                     1          1
3651                     1          1
290                      1          1
3181                     0          0
3876                     0          0
2411                     0          0
457                      0          0
555                      0          0
2905                     1          1
1189                     0          0
1116                     1          1
3402                     1          1
817                      0          0
2107                     1          1
96                       1          1
2917                     0          0
4063                     0          0
4000                     0          0
4119                     1          1

In [55]:
from sklearn.metrics import confusion_matrix,classification_report

In [54]:
confusion_matrix(y_test['loan_status_Rejected'],y_test['predicted'])

array([[521,  15],
       [ 10, 308]], dtype=int64)

In [56]:
print(classification_report(y_test['loan_status_Rejected'],y_test['predicted']))

              precision    recall  f1-score   support

           0       0.98      0.97      0.98       536
           1       0.95      0.97      0.96       318

    accuracy                           0.97       854
   macro avg       0.97      0.97      0.97       854
weighted avg       0.97      0.97      0.97       854